:root {
	font-size: 16px;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	// color-scheme: light dark;
	// color: rgba(255, 255, 255, 0.87);
	// background-color: #242424;
	--album-color: #777;
	--album-dark: #555;
	--album-light: #999;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: currentColor;
	color: var(--album-dark);
	text-decoration: inherit;
	cursor: pointer;
}

a:hover {
	
}

body {
	margin: 0;
	// display: flex;
	// place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

#app{
	overflow: hidden;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
	margin: 0;
}

h2{
	margin: 0;
}

h3{
	margin: 0;
}

h4{
	margin: 0;
}

p{
	margin: 0;

}
button {
	border-radius: 3px;
	border: 0;
	padding: 0.4em 0.8em;
	font: inherit;
	font-weight: bold;
	background: none;
	color: var(--album-dark);
	box-shadow:var(--album-dark) 0 0 0 2px;
	
	cursor: pointer;
	transition: border-color 0.25s;
	&:hover {
		border-color: #646cff;
	}

	// &:focus,
	// &:focus-visible {
	// 	outline: 4px auto -webkit-focus-ring-color;
	// }
}


// @media (prefers-color-scheme: light) {
// 	:root {
// 		color: #213547;
// 		background-color: #ffffff;
// 	}

// 	a:hover {
// 		color: #747bff;
// 	}

// 	button {
// 		background-color: #f9f9f9;
// 	}
// }



html{
	&[data-os="windows"]{
		&::-webkit-scrollbar-track-piece {

		}
		&::-webkit-scrollbar {
			width: 8px;
			height: 8px;
		}
		&::-webkit-scrollbar-thumb {
			height: 40px;
			background-color: var(--album-dark);
		}
	}
}



@import './cover.less';
@import './album-list.less';